# 컬렉션 타입 소개

### 값을 바꿀 수 있는 List와 Sets
### 값을 바꿀 수 없는 Tuples과 String

In [7]:
coordinate = (3, 4)
# coordinate를 Tuples 형식으로 선언. 값은 3과 4

In [14]:
print(coordinate[1])
# coordinate 1번 인덱스의 값을 출력

4

In [11]:
name = "Hwa Ryu"
print(name)
# name을 String 형식으로 선언. 값은 Hwa Ryu

Hwa Ryu

In [13]:
name[3:] = "Qoo"
# String 형식이기 때문에 값 변경이 불가능해 오류발생이 맞음

TypeError: 'str' object does not support item assignment

In [16]:
my_info_list = ['Hwa Ryu', 21, "Hanshin University", False]
print(my_info_list)
# my_info_list를 List 형식로 선언. 값은 이름, 나이, 소속, False
# 그리고 내용을 출력

['Hwa Ryu', 21, 'Hanshin University', False]

In [18]:
my_info_list[0] = 'Qoo'
print(my_info_list)
# my_info_list 0번 인덱스의 값을 Qoo로 변경.
# 값이 바뀐 my_info_list를 출력

['Qoo', 21, 'Hanshin University', False]

In [24]:
my_info_list.append('Goyang-si')
my_info_list.remove(False)
print(my_info_list)
# my_info_list에 Goyang-si 라는 값을 추가
# my_info_list의 False 라는 값을 삭제

['Qoo', 21, 'Hanshin University', 'Goyang-si']

In [26]:
my_info_set = set(my_info_list)
print(my_info_set)
# my_info_list의 값들을 my_info_set로 형변환
# my_info_set는 Sets형식

{'Goyang-si', 21, 'Hanshin University', 'Qoo'}

In [28]:
print(my_info_set[2])
# Sets형식은 순서가 없는 데이터들의 모임이기 때문에 n번째를 찾고자 하면 오류가 발생.

TypeError: 'set' object is not subscriptable

In [30]:
hsu_dic = {
    'name' : 'Hanshin University',
    'establishment year' : 1940,
    'public or private' : 'private'
}
print(hsu_dic)
# hsu_dic은 dictionaru 형식으로 선언. 이름과 설립일, 국립 사립여부를 저장

{'name': 'Hanshin University', 'establishment year': 1940, 'public or private': 'private'}

In [33]:
hsu_dic['num_of_enrolled'] = 7588
print(hsu_dic)
# hsu_dic에 학생수 라는 값을 추가

{'name': 'Hanshin University', 'establishment year': 1940, 'public or private': 'private', 'num_of_enrolled': 7588}

In [36]:
char_list = []
char_list = ['HwaRyu','Lupes','Tetharion']

print(char_list)

['HwaRyu', 'Lupes', 'Tetharion']

In [38]:
mixed_list = []
mixed_list = ['name', 21, 3.14, True]

print(mixed_list)

['name', 21, 3.14, True]

In [43]:
double_list = []
double_list = [ [(0,0), (0,1) ], [ (1,0), (1,1)] ]

print(double_list)

print(double_list[1][1])

[[(0, 0), (0, 1)], [(1, 0), (1, 1)]]
(1, 1)